.Container {
    margin: 5px;
    font-size: 13px;
}
.OrderSummary{
    margin:  0;
    padding: 0;
}

.OrderSummary thead tr{ 
    background-color: rgb(238, 115, 58);
    color: rgb(255, 255, 255)
}

.OrderSummary thead tr th{ 
    border-spacing: 0px !important;
    padding: 6px;
    text-align: left;
}

.Footer{ 
    background-color: rgb(241, 193, 148);
}

.Footer td {
    text-align: right;
    color: rgb(0, 0, 0);
    padding: 5px 0px;

}

.Label {
    text-transform: capitalize;
    font-weight: bold;
    width: auto;
    color: rgb(22, 177, 60);
    display: inline-block;
}

.Price {
    font-weight: bold;
    width: auto;
    color: rgb(116, 12, 47);
    text-align: center;
}

.ItemPrice {
    font-weight: bold;
    width: auto;
    margin: 5px 0;
    color: rgb(21, 76, 138);
    text-align: center;
}

.CartTotal{
    font-weight: bold;
    color: rgb(116, 12, 47);
    text-align: center !important;
}

.Quantity {
    text-align: center;
}

.Center {
    text-align: center !important;
}

.Title {
    color: coral;
}

.ContinueLabel{
    color: rgb(182, 182, 182);
}

.Row td {
    padding: 6px 0px;
}